/* VARIABLES */
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVIGATION */
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 0;
}
.nav__item {
  display: inline-block;
  margin: 0 12px;
  text-decoration: underline;
  list-style-type: none;
}
.nav__item--cta {
  display: inline-block;
  margin: 0 12px;
  text-decoration: none;
  list-style-type: none;
}

.cta-button {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 6px;
}

/* HERO */
.hero {
  margin: auto;
}
.hero__header {
  font-size: 2.5em;
  width: 30em;
  text-align: center;
  padding: 10px;
}
.hero__subheader {
  font-weight: 2em;
  font-size: 170%;
  text-align: center;
  margin: 0.5em;
}

.mainvideo {
  margin: 30px;
}

/* PROGRAMS */
.icon {
  width: 60px;
  margin: 20px;
}

.quote {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.programs {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
  grid-row-gap: 10px;
  grid-template-areas: "cell1" "cell2" "cell3" "cell4" "cell5";
}

@media only screen and (min-width: 787px) {
  .programs {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 10px;
    grid-template-areas: "cell1 . cell2" "cell3 cell4 cell5";
  }
}
/* CALL TO ACTION */
.calltoaction {
  background-color: #cecece;
  padding: 30px;
}

/* SCHOOL INFO */
.link {
  font-weight: bold;
  text-decoration: none;
}

.description {
  width: 30em;
  padding: 10px;
}

.grid {
  margin: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-template-areas: "cell1 cell1" "cell2 cell3" "cell4 cell5" "cell6 cell6";
  align-items: center;
  justify-items: center;
}

@media only screen and (min-width: 787px) {
  .grid {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-template-areas: "cell1 cell1 cell1 cell1" "cell2 cell3 cell4 cell5" "cell6 cell6 cell6 cell6";
    align-items: center;
    justify-items: center;
  }
}
.cell1 {
  grid-area: cell1;
}

.cell2 {
  grid-area: cell2;
}

.cell3 {
  grid-area: cell3;
}

.cell4 {
  grid-area: cell4;
}

.cell5 {
  grid-area: cell5;
}

.cell6 {
  grid-area: cell6;
}

.profileimg {
  width: 70%;
  margin: 10px;
}

.small-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* FORM */
.info {
  width: 30em;
  padding: 10px;
  text-align: center;
}

.form {
  margin: 5px;
  width: 30em;
}
.form__item {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #cecece;
  margin: 5px;
  width: 100%;
}

.formgroup {
  display: flex;
  justify-content: space-evenly;
  width: 30em;
}
.formgroup__item {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #cecece;
  margin: 5px;
  width: 50%;
}

.submit-button {
  border: 2px solid #bd82ee;
  border-radius: 6px;
  width: 40%;
  color: #bd82ee;
  font-size: 100%;
  margin: 10px auto;
}

/*# sourceMappingURL=style.css.map */
